# Copy from backend/.env
#....
REDIS_HOST=redis
REDIS_USERNAME=default
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=your-postgres-username
DATABASE_PASSWORD=your-postgres-password
DATABASE_NAME=your-database-name
#...

# Copy from client/.env
#...
# Docker 
DOCKER_REGISTRY=leducphuong
IMAGE_TAG=latest